{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>

<html lang="en-us" >
    <head>
        <title>{% block title %} Gorson: Add Supplier {% endblock %}</title>
        {% block customjs %}
            <script src="{% static 'js/customJS/stock_details.js' %}"></script>
            <script type = "text/javascript">
                function validate()
                {
                    var material_value  = $('#id_R4_Materil_cut').val();
                    if (material_value < 0)
                    {
                        alert("Please enter Positive Number");
                        return false;
                    }

                    return true;
                }
            </script>
        {% endblock %}
    </head>

<body>
{% block content %}
    <div class="row" style="margin-left:0px;">
          <div class="col-md-3">
                {% include "side_menu.html" %}
          </div>
          <div class="col-md-9">
                <div id="header">
                    <div id="branding">
                      <h1 id="site-name"><a href="/admin/">Cutting</a></h1>
                    </div>
                </div>
                <form action="/Home/Stock/Cutting/" method="post" onsubmit = "return(validate());">
                    {% csrf_token %}
                    <table id="stock_cutting_table">
                        <tr>
                           <th> {{form1.id_cut.label}}</th>
                           <th> {{form1.id_cut}}</th></tr>
                           <tr><th> {{form1.R4_Row_Mat_Size.label}}</th>
                           <th> {{form1.R4_Row_Mat_Size}}</th></tr>
                           <tr><th> {{form1.R4_Row_Mat_Shape.label}}</th>
                           <th> {{form1.R4_Row_Mat_Shape}}</th></tr>
                           <tr><th> {{form1.R4_Row_Mat_Type.label}}</th>
                           <th> {{form1.R4_Row_Mat_Type}}</th></tr>
                           <tr><th> {{form1.R4_Materil_Qty.label}}</th>
                           <th> {{form1.R4_Materil_Qty}}</th></tr>
                           <tr><th> {{form1.R4_Row_Mat_Unit.label}}</th>
                           <th> {{form1.R4_Row_Mat_Unit}}</th></tr>
                           <tr><th> {{form1.R4_Materil_cut.label}}</th>
                           <th> {{form1.R4_Materil_cut}}</th>
                        </tr>
                    </table>
                    <input type="submit" value="Submit" class="btn btn-success">
                </form>

          </div>
          <div>
              {% if messages %}
                <ul class="messages" >
                  {% for message in messages %}
                    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                 </ul>
               {% endif %}
          </div>
    </div>
{% endblock %}
</body>
</html>
