{% extends "base.html" %}
{% load static %}

<html>
  <head>
        <title>{% block title %} Gorson {% endblock %}</title>
  </head>
  
  
  <body>
  {% block content %}
        <div class="row" style="margin-left:0px;">
          <div class="col-md-3">
                {% include "side_menu.html" %}
          </div>
          <div class="col-md-9">
               <img src="{% static 'images/cnc_image.jpg' %}" height="80%" width="100%" alt="Image Not Found">
          </div>
      </div>

  {% endblock %}

  </body>
</html>

