{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>

<html lang="en-us" >
    <head>
        <title>{% block title %} Gorson: Add Supplier {% endblock %}</title>
    </head>
<body>
    {% block content %}
        <div class="row" style="margin-left:0px;">
          <div class="col-md-3">
                {% include "side_menu.html" %}
          </div>
          <div class="col-md-9">
              <div id="header">
                <div id="branding">
                  <h1 id="site-name"><a href="/admin/"><h3>Add Supplier</h3></a></h1>
                </div>
              </div>
              <form action="/Home/Add_Supplier/" method="post">
                  {% csrf_token %}
                   {% for n in form %}
                       <tr>
                          <td>{{n}}</td>
                           <br>
                       </tr>

                    {% endfor %}
                        <input type="submit" class="btn btn-success" value="Submit">
              </form>
          </div>
        </div>
  {% endblock %}

</body>

</form>
</html>
